<template>
  <h1>Rick And Morty</h1>
  <FilterByStatus />
  <FilterByName />
  <ListCharacters />
</template>

<script>
import ListCharacters from "./components/ListCaracters.vue"
import FilterByStatus from "./components/FilterByStatus.vue"
import FilterByName from "./components/FilterByName.vue"

export default {
  name: 'App',
  components: {
    ListCharacters,
    FilterByStatus,
    FilterByName,
  }
}
</script>

<style>

</style>
